body {
    margin: 0;
    background-color: aliceblue;
}

.container {
    height: 1000px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}

.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
}

h1 {
    margin-bottom: 10px;
    font-size: 35px;
}

h2 {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 15px;
    font-style: italic;
}

p {
    font-size: 18px;
    font-family: Apple Chancery, cursive;
}